.cripto {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid skyblue;
    border-left: 10px solid skyblue;
    border-radius: 1em;
    padding: 1rem;
    transition: all .25s;
}

.info {
    color: rgb(195, 195, 195);
}

.label {
    color: skyblue;
}

.positivo {
    color: green;
}

.negativo {
    color: red;
}

.cripto:hover {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.35);
  }

.cripto h2, .cripto a {
color: white;
text-decoration: none;
}