body {
    background-color: #5DADE2;
}

h1 {
    margin-left: 0;
    margin-right: 0;
}

.Card {
    background-color: #117A65;
    border: 2px black solid;
    margin: 1em;
    display: inline-block;
    width: 250px;
    height: 80px;
    padding: 1em;
    border-radius: 1em;
}